
.caption {
	position: relative;
	top: -170px;
	width: 320px;
	display: block;
	margin: 0 auto;
	font-style: oblique;
	font-size: 12px;
}

	.caption p {
		margin: 0;
		text-indent: 12px;
	}

.canvas {
 	font-size: 14px;
 	fill: #474747;
 	font-weight: normal;
}

.wedge {
	stroke: darken(@gray-lighter, 20%);
	stroke-width: 1px;
}

.used {
	fill: @brand-danger;
}

.free {
	fill: @brand-success;
}

.highlighted {
    .free {
	fill: darken(@brand-success, 10%);
    }
    .used {
	fill: darken(@brand-danger, 10%);
    }
    .total {
	fill: darken(@gray-lighter, 10%);
    }
    .other {
	fill: darken(@gray, 10%);
    }
}

.other {
	fill: @gray;
}

.total {
	fill: @gray-lighter;
}

.legend {
	width: 400px;
	height: 50px;
	padding: 0 20px;
	display: block;
	position: relative;
	margin: 0 auto;
	top: -150px;
	text-align: center;
}
text {
    font-size: 14px;
}
