
.caption {
	position: relative;
	top: -170px;
	width: 320px;
	display: block;
	margin: 0 auto;
	font-style: oblique;
	font-size: 12px;
}

	.caption p {
		margin: 0;
		text-indent: 12px;
	}

.canvas {
 	font-size: 14px;
 	fill: #474747;
 	font-weight: normal;
}

.wedge {
	stroke: #cdcdcd;
	stroke-width: 1px;
}

.used {
	fill: @brand-danger;
}

.other {
	fill: rgb(50,50,50);
}

.total {
	fill: #eeeeee;
}

.legend {
	width: 400px;
	height: 50px;
	padding: 0 20px;
	display: block;
	position: relative;
	margin: 0 auto;
	top: -150px;
	text-align: center;
}
