<div ng-controller="NodeController">

  <div id="sidebar-wrapper" class="sidebar-350" ng-show="renderSidebar">

    <ul class="nav nav-tabs">
      <li ng-repeat="node in nodes track by $index" ng-class="{ 'active': isActive(node.name)}"><a href="#/nodes/{{node.name}}">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <h3><span class="{{node.health_label_class}}">{{node.name}}</span></h3>
          </div>
          <div class="col-md-4 col-sm-4">
            <span class="pull-right {{node.health_label_class}}">{{node.health.status}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <span class="{{node.health_label_class}}">{{node.hostname}}</span>
          </div>
          <div class="col-md-4 col-sm-4">
          </div>
        </div>
      </a></li>
    </ul>

  </div>

</div>
